:root {
    --background-button: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
    --background-hero-footer: #2F303A;
    --bg-portfolio-filter: #F5F4FA;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    max-width: 1600px;
}

/*HEADER START*/

.main-nav {
    display: flex;
    align-items: center;
}

.nav-container {
    margin-right: auto;
    margin-left: auto;
    height: 80px;
    width: 1440px;
    padding-left: 215px;
    padding-right: 215px;
}

.title-webstudio {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.title-web {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--background-button);
}

.title-studio {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}

.header-list {
    display: flex;
    margin-left: 93px;
}

/*.header-list .item:not(:last-child) {
    WE GIVE MARGIN TO ALL - LI ELEMENTS, EXCEPT LAST
    margin-right: 50px;}*/

.header-list .item+.item {
    margin-left: 50px;
}

.header-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-color);
    text-decoration: none;
    letter-spacing: 0.02em;
}

.studio-link {
    color: var(--background-button);
}

.portfolio-link {
    color: var(--background-button);
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    color: var(--background-button);
}

/*NAVIGATION END*/

/*CONTACTS START*/
.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-list .item+.item {
    margin-left: 50px;
}

.emeil-mobile {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
    text-decoration: none;
    line-height: 0;
    letter-spacing: 0.02em;
}

.emeil-mobile:hover,
.emeil-mobile:focus,
.emeil-mobile:active {
    color: var(--background-button);
}

/*CONTACTS END*/

button {
    font-family: inherit;
}

/*HERO BLOCK START*/

body {
    font-family: Roboto, sans-serif;
}

.hero {
    padding: 200px 452px;
    text-align: center;
    text-transform: uppercase;
    background: var(--background-hero-footer);
    letter-spacing: 0.06em;
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-button {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: var(--background-button);
    border: 0;
}

.hero-button:hover,
.hero-:focus,
.hero-button:active {
    background: #0569bb;
}

/*HERO BLOCK END*/

/*BENEFITS START*/
.benefits-section {
    letter-spacing: 0.03em;
}

.benefits-section_list {
    display: flex;
    margin: 94px 215px;
}

.benefits-section_list .item+.item {
    margin-left: 30px;
}

.benefits-section_title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);
}

.benefits-section_info {
    width: 270px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
}

/*BENEFITS END*/

/*PORTFOLIO START*/
.container-portfolio {
    margin: 94px 215px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
}

.portfolio-item {
    margin-top: 50px;
    margin-left: 30px
}

.portfolio {
    letter-spacing: 0.03em;
}

.portfolio-title {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-color);
}



/*PORTFOLIO END*/

/*TEAM START*/

.team {
    letter-spacing: 0.03em;
    background-color: var(--bg-portfolio-filter);
}

.team-list .item {
    display: inline-block;
}

.team-list .item+.item {
    margin-left: 30px;
}

.team-title {
    padding-top: 94px;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-color);
}

.team-list_name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-color);
}

.team-list_pos {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-color);
}

/*TEAM END*/

/*FOOTER START*/

.footer {
    height: 300px;
    max-width: 1600px;
    background: var(--background-hero-footer);
    letter-spacing: 0.03em;
}

.address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 20px;
}

.contacts-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
}

.title-studio_footer {
    color: #FFFFFF;
}

/*FOOTER END*/

/*PORTFOLIO.HTML START*/

.filters-list {
    display: flex;
    margin-top: 94px;
    margin-bottom: 34px;
    justify-content: center;
}

.filters-list .item+.item {
    margin-left: 8px;
}

.filters-list .item {
    align-items: center;
}

.filters-list_item {
    width: fit-content;
    max-height: 38px;
    padding: 6px 22px;
    background: var(--bg-portfolio-filter);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--title-color);
    letter-spacing: 0.03em;
}

.filters-list_item:hover,
.filters-list_item:focus,
.filters-list_item:active {
    background: var(--background-button);
    color: #FFFFFF;
    border-radius: 4px;
}

.projects-list_title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--title-color);
    letter-spacing: 0.06em;
}

.projects-list_info {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color);
    letter-spacing: 0.03em;
}

/*PROJECTS START*/

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-list .item+.item {
    margin-left: 30px;
}

/*PORTFOLIO.HTML END*/